# PANDAS 2

## CZYSZCZENIE DANYCH

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

df

### sprawdźmy czy nie ma brakujących wartości

### w których kolumnach brakuje wartości? (min 1)

### ile wartości brakuje?

### Czasami w danych pojawią się błędne wartości, które nic nie wnoszą do treści. Wówczas warto jest je zamienić na nan i później zdecydować co z nimi zrobić.

### Zidentyfikuj wartości, które są błędne i zamień na nan.

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,"--",70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,"?",12.43,2480.4,250.45, 3045.6],
'ord_date': ['?','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,"--",3002,3001,3001],
'salesman_id':[5002,5003,"?",5001,np.nan,5002,5001,"?",5003,5002,5003,"--"]})

df

### usuń wiersze gdzie brakuje przynajmniej 1 wartości

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
df

### usuń wiersze gdzie brakuje wszystkich wartości

In [ ]:
df = pd.DataFrame({
'ord_no':[np.nan,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[np.nan,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': [np.nan,'2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[np.nan,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001]})

df

### usuń wiersze gdzie brakuje wartości w kolumnach 'ord_no', 'customer_id']

In [ ]:
df = pd.DataFrame({
'ord_no':[np.nan,np.nan,70002,np.nan,np.nan,70005,np.nan,70010,70003,70012,np.nan,np.nan],
'purch_amt':[np.nan,270.65,65.26,np.nan,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,np.nan],
'ord_date': [np.nan,'2012-09-10',np.nan,np.nan,'2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17',np.nan],
'customer_id':[np.nan,3001,3001,np.nan,3002,3001,3001,3004,3003,3002,3001,np.nan]})
df

### W przypadku brakujących wartości możemy je zamienić na wartość stałą, podstawić wartość z poprzedniego lub kolejnego wiersza, lub użyć jakiejś statystyki (np. wartości średniej)

### zamień wartości nan w kolumnie 'purch_amt' na wartość średnią, a w kolumnie 'sale_amt' na medianę

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,np.nan,65.26,110.5,948.5,np.nan,5760,1983.43,np.nan,250.45, 75.29,3045.6],
'sale_amt':[10.5,20.65,np.nan,11.5,98.5,np.nan,57,19.43,np.nan,25.45, 75.29,35.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

df

In [ ]:
df

### zamień brakujące wartości na najpopularniejszą wartość w danej kolumnie

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,np.nan,65.26,110.5,948.5,np.nan,5760,1983.43,np.nan,250.45, 75.29,3045.6],
'sale_amt':[10.5,20.65,np.nan,11.5,98.5,np.nan,57,19.43,np.nan,25.45, 75.29,35.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
df

In [ ]:

df

## praca ze stringami

### usuń białe znaki w serii (jako Indeks dla ułatwienia czytelności

In [ ]:
color = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
color

In [ ]:
# wszystkie

In [ ]:
# z prawej strony

In [ ]:
# z lewej strony

### poprzedź liczby zerami

In [ ]:
df = pd.DataFrame({'amount': [10, 250, 3000, 40000, 500000]})
df

In [ ]:

df

### sprawdź czy w kolumnie 'name_code' są tylko wartości alfanumeryczne

In [ ]:
df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df

In [ ]:

df

### czy w kolumnie 'company_code' są tylko znaki numeryczne?

In [ ]:
df = pd.DataFrame({
    'company_code': ['Company','Company a001', '2055', 'abcd', '123345'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]})

df

In [ ]:

df

## datetime

### zamiana na datę

In [ ]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})

df

### możemy zmienić na string i ustawić format

## pivot table

### wczytaj dane z pliku saledata i utwórz tabelę przestawną

In [ ]:
df = pd.read_excel("SaleData.xlsx")
df

### na podstawie kolumn region i item sprawdź ile w sumie zostało sprzedanych units

## *SQL

In [ ]:
# basic
import pandas as pd
import csv
import numpy as np
pd.options.mode.chained_assignment = None

# db
import sqlite3 as sql

In [ ]:
def read_whole_table(con, table_name):
  return pd.read_sql(f'''select * from {table_name}''', con)

In [ ]:
DB = 'dede-enus.sqlite'
path_to_db = './drive/MyDrive/Nauczanie/202223/PAD/04_pandas2'

In [ ]:
# nawiązanie połączenia z bazą
con = sql.connect(f'{path_to_db}/{DB}')
cursor = con.cursor()

In [ ]:
# wyciągnięcie wszystkich widoków
cursor.execute("SELECT name from sqlite_master WHERE type='view';")
cursor.fetchall()

In [ ]:
# wyciągnięcie wszystkich tabel
cursor.execute("SELECT name from sqlite_master WHERE type='table';")
cursor.fetchall()

In [ ]:
df_3m = read_whole_table(con, '_3MONTHS')
df_3m